.body{
    background-image: url(resources/body-bg.jpg);
}
#wrapper{
    width: 800px;
    margin: auto;
    border: 3px solid gray;
}

#top {
    position: relative;
    background-color: #000000;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px groove gray;
}

#bottom {
    position: relative;
    background-color: #CCCCCC;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    width: 790px;
    text-align: center;
    
}

#left {
    float: left;
    background-color: #DDDDDD;
    padding: 5px;
    width: 150px;
    height: 750px;
}

#right {
    float: right;
    background-color: #ffffff;
    padding: 5px;
    height: 750px;
}

.center_content {
    position: relative;
    background-color: #ffffff;
    padding: 5px;
    height: 730px;
}

.left_content {
    background-color: #ffffff;
    padding: 5px;
    margin-left: 160px;
    height: 730px;
    padding-left: 80px;
    border-left: 2px groove gray;
}

.right_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 200px 0px 200px;
    height: 730px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.rf-msg-wrn{
    color: red !important;
}

.rf-fu {
    width: 275px !important;
}
.rf-fu-lst {
    height: 50px !important;
}


